atlassian-ide-plugin.xml
*DS_STORE*
dist/
usage/
*.c
*.so
*.pyc
*.pyo
*.pyx
*pycache*
db/
build/
*.log
.env
.*.swp
*.tar.gz
*.bak
.idea/
package-lock.json
.pytest_cache/
.vagrant/
.cache
.vscode
dockerdeps.*
.ipynb*

data/

dask/dask-worker-space

